{
  "extends": [
    "react-app"
  ],
  "rules": {
    "semi": [
      2,
      "never"
    ],
    "max-len": [
      "error",
      120,
      {
        "ignoreStrings": true
      }
    ],
    "array-callback-return": "off"
  }
}
