$background: var(--tg-theme-bg-color);
$text-color: var(--tg-theme-text-color);
$btn-color: var(--tg-theme-button-color);
$btn-text-color: var(--tg-theme-button-text-color);
$secondary-bg-color: var(--tg-theme-secondary-bg-color);
$btn-text-size: 14px