@import '../constants/constants.module';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body {
    background: $secondary-bg-color;
    color: $text-color;
  }

  .main {
    padding: 0 12px;
    margin-top: 10px;
  }
}

